*.suo
*.userprefs
**/bin/*
**/obj/*
**/SampleRaceStream.bin
packages/
TestResult.xml
iRacingReplayOverlay.net.Tests.VisualState.xml
publish/
publish-beta/
**/*.csproj.user
**/*.log
deploy-package/*
!deploy-package/.keep
