[submodule "SuperMFLib"]
	path = SuperMFLib
	url = git://github.com/vipoo/SuperMFLib.git
[submodule "GitHubReleases"]
	path = GitHubReleases
	url = git://github.com/vipoo/GitHubReleases.git
[submodule "plugins/JockeOverlays"]
	path = plugins/JockeOverlays
	url = git://github.com/vipoo/JockeOverlays.git
[submodule "iRacingSDK.Net"]
	path = iRacingSDK.Net
	url = https://github.com/MerlinCooper/iRacingSDK.Net.git
