*.suo
*.userprefs
**/bin/*
**/obj/*
**/SampleRaceStream.bin
packages/
TestResult.xml
iRacingReplayOverlay.net.Tests.VisualState.xml
publish/
publish-beta/
**/*.csproj.user
**/*.log
deploy/*
!deploy/.keep
!deploy/test/.keep
Application Files
setup.exe
iRacingReplayOverlay.test.application
.vs/*
tools/encrypt.cmd
Aws/AwsKeyActual.cs
