[submodule "GitHubReleases"]
	path = GitHubReleases
	url = git://github.com/vipoo/GitHubReleases.git
[submodule "iRacingSDK.Net"]
	path = iRacingSDK.Net
	url = https://github.com/MerlinCooper/iRacingSDK.Net.git
