<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iRacingReplayOverlay.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="iRacingReplayOverlay.Main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <iRacingReplayOverlay.Settings>
            <setting name="WorkingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="videoBitRate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="audioBitRate" serializeAs="String">
                <value>48000</value>
            </setting>
            <setting name="lastSelectedTrackName" serializeAs="String">
                <value />
            </setting>
            <setting name="lastVideoFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxTimeForIncidents" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="PreferredDriverNames" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxTimeForInterestingEvent" serializeAs="String">
                <value>00:00:01</value>
            </setting>
        </iRacingReplayOverlay.Settings>
        <iRacingReplayOverlay.Main>
            <setting name="WorkingFolder" serializeAs="String">
                <value />
            </setting>
        </iRacingReplayOverlay.Main>
    </userSettings>
</configuration>
