<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iRacingReplayOverlay.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="iRacingReplayOverlay.Main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <iRacingReplayOverlay.Settings>
            <setting name="WorkingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="videoBitRate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="audioBitRate" serializeAs="String">
                <value>48000</value>
            </setting>
            <setting name="lastSelectedTrackName" serializeAs="String">
                <value />
            </setting>
            <setting name="lastVideoFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraStickyPeriod" serializeAs="String">
                <value>00:00:20</value>
            </setting>
            <setting name="PreferredDriverNames" serializeAs="String">
                <value />
            </setting>
            <setting name="BattleGap" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="BattleStickyPeriod" serializeAs="String">
                <value>00:02:00</value>
            </setting>
            <setting name="BattleFactor2" serializeAs="String">
                <value>1.6</value>
            </setting>
            <setting name="FollowLeaderAtRaceStartPeriod" serializeAs="String">
                <value>00:00:20</value>
            </setting>
            <setting name="FollowLeaderBeforeRaceEndPeriod" serializeAs="String">
                <value>00:00:20</value>
            </setting>
            <setting name="HighlightVideoTargetDuration" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="FocusOnPreferedDriver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableIncidentsSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendUsageData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HaveAskedAboutUsage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingID" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultsFlashCardPosition" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IncidentScanWait" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IgnoreIncidentsBelowPosition" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PeriodWaitForIRacingSwitch" serializeAs="String">
                <value>00:00:06</value>
            </setting>
        </iRacingReplayOverlay.Settings>
        <iRacingReplayOverlay.Main>
            <setting name="WorkingFolder" serializeAs="String">
                <value/>
            </setting>
        </iRacingReplayOverlay.Main>
    </userSettings>
</configuration>
